<!--<img src="/vistas/logo.jpg" height="300" width="350" align="center">-->
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h1 style="font-size: 60px;">TEMPERATURA:</h1>
    <button type="button" class="btn btn-primary" ng-click="return()">VOLVER</button>
    <button type="button" class="btn btn-danger" ng-click="exit()">SALIR</button>
    <hr>
    <br>
    <br>
    <h2 id="content" style="color: red; font-size: 70px;">{{temp}} ºC</h2>
</div>