<!--<img src="/vistas/logo.jpg" height="300" width="350" align="center">-->
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<h1 style="font-size: 60px;">MENÚ:</h1>
<hr>
<br>
<br>
<br>
<div class="botones">
	<button type="button" class="btn btn-success" ng-click="temperatura()">TEMPERATURA</button>
	<!-- <br><br> -->
	<button type="button" class="btn btn-info" ng-click="distancia()">DISTANCIA</button>
	<!-- <br><br> -->
	<button type="button" class="btn btn-warning" ng-click="luminosidad()">I. LUMINOSA</button>
	<!-- <br><br> -->
	<button type="button" class="btn btn-danger" ng-click="exit()">SALIR</button>
	<!-- <button  type="button" class="btn btn-warning" ng-click="des_sum()">DESENCRIPTAR SUMA</button> -->
	<!-- <br><br> -->
	<!-- <button type="button" class="btn btn-danger" ng-click="mul()">MULTIPLICACIÓN HOMOMÓRFICA</button> -->
	<!-- <br><br> -->
	<!-- <button type="button" class="btn btn-primary" ng-click="des_mul()">DESENCRIPTAR MULTIPLICACIÓN</button> -->
	<!-- <input style="display: none;" type="file" id="files" name="files[]" accept=".RSA" /> -->
</div>

</div>