
<!--<img src="/vistas/logo.jpg" height="300" width="350" align="center">-->
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h1 style="font-size: 60px;">CHARIOT COAP:</h1>
    <img src="../images/Chariot-bk-159x109.png" height="109" width="159" style="margin-left:25px; margin-top:25px; opacity:1.0;"/>
    <button type="button" class="btn btn-primary" ng-click="return()">VOLVER</button>
    <button type="button" class="btn btn-danger" ng-click="exit()">SALIR</button>
    <hr>
    <br>
    <div id="content"></div>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input" disabled="disabled" />
    </div>
    <br>
    <!-- <h2 style="color: red; font-size: 70px;">{{temp}} ºC</h2> -->
</div>